.text1{
    font-size: 14pt;
}

.panel-body{
    background-color:lightgray
}

#body{
    background-color: gray
}
#viz-second{
     height: 100;
     width: 100;
}

html{
    position: relative;
    min-height: 100%
}